Lang-Graph/codebasics_tutorial/.venv/
Lang-Graph/codebasics_tutorial/.env
GANs/models/Z-Image-Turbo/.venv
/LangChain/udemy_course/hello_world/.env
/LangChain/udemy_course/search-agent/.env
.env
ui/ux kits/**/.env
ui/ux kits/**/__pycache__/
ui/ux kits/**/.pytest_cache/
ui/ux kits/**/result/

# Python caches (global)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

# Virtual environments (global)
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
