# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Tooling and IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
